.dropdown-enter {
  opacity: 0;
  transform: translateY(-35px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.dropdown-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  visibility: hidden;
}

.dropdown-container:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

@media (max-width: 1380px) {
  h1.text-dark-cool-blue.font-bold.text-2xl {
    font-size: 18px;
    line-height: 25px;
  }

  img.h-8.w-8.mr-2 {
    width: 1.7rem;
    height: 1.7rem;
  }

  li.dropdown-container.text-xl {
    font-size: 16px;
    line-height: 25px;
  }

  li.dropdown-container.text-xl.ml-14 {
    margin-left: 40px;
  }
}

@media (max-width: 1150px) {
  h1.text-dark-cool-blue.font-bold.text-2xl {
    font-size: 16px;
    line-height: 25px;
  }

  img.h-8.w-8.mr-2 {
    width: 1.5rem;
    height: 1.5rem;
  }

  li.dropdown-container.text-xl {
    font-size: 15px;
    line-height: 25px;
  }

  li.dropdown-container.text-xl.ml-14 {
    margin-left: 30px;
  }

  @media (max-width: 1050px) {
    h1.text-dark-cool-blue.font-bold.text-2xl {
      font-size: 15px;
      line-height: 25px;
    }

    img.h-8.w-8.mr-2 {
      width: 1.5rem;
      height: 1.5rem;
    }

    li.dropdown-container.text-xl {
      font-size: 14px;
      line-height: 25px;
    }

    li.dropdown-container.text-xl.ml-14 {
      margin-left: 20px;
    }
  }

  @media (max-width: 950px) {
    h1.text-dark-cool-blue.font-bold.text-2xl {
      display: none;
    }

    img.h-8.w-8.mr-2 {
      width: 1.7rem;
      height: 1.7rem;
    }

    li.dropdown-container.text-xl {
      font-size: 14px;
      line-height: 25px;
    }

    li.dropdown-container.text-xl.ml-14 {
      margin-left: 15px;
    }

    li.dropdown-container.text-xl.ml-14:first-child {
      margin-left: 0;
    }

    svg.svg-inline--fa.fa-plus.h-3.w-3.ml-2 {
      margin-left: 5px;
    }
  }

  @media (max-width: 800px) {
    .flex.items-center.desktop-view {
      display: none;
    }

    h1.text-dark-cool-blue.font-bold.text-2xl {
      display: block;
      font-size: 18px;
    }

    img.h-8.w-8.mr-2 {
      width: 2rem;
      height: 2rem;
    }

    .hamburger-button {
      display: block;
    }

    .dropdown-menu.active {
      display: none;
    }

    .hamburger-button.active {
      /* Add styling properties for the active (open) button */
    }

    /* Mobile menu styling */
    .mobile-menu {
      display: none;
      /* Add styling properties for the mobile menu */
    }

    .mobile-menu.active {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 50px;
    }

    
  }
}
