*{
    background-color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: rgba(173, 216, 230, 0.7); /* Light blue color with some opacity */
  z-index: 999; /* Ensure it's above other content */
  /* display: none; Initially hidden */
}